<h1> Name:<%= @pet.name %> </h1>
<h2> Breed: <%= @pet.breed %> </h2>
<h2> Age: <%= @pet.age %> </h2>
  <% @pet.images.each do |image| %>
    <p> <%= image_tag image %> </p>
  <% end %>
  <br>
  <%= button_to "Delete Pet", @pet, method: :delete, data: { confirm: "Really?" } %>
